/* Custom CSS for adding logo */
.site-title {
  display: flex;
  align-items: center;
}

.site-title::before {
  content: "";
  display: inline-block;
  background-image: url('/assets/img/IMG_5977.PNG'); /* Path to your logo */
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;  /* Adjust the size of the logo */
  height: 50px; /* Adjust the size of the logo */
  margin-right: 10px;
}

